@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #E5F5FE;
    --secondary-color: #1F3946;
    --tertiary-color: #008BB1;
    --light-variant-1: #f5f5f5;
    --dark-color: #454545;
    --white-color: #ffffff;
    --grey-color: #B5B5B5;
    --dark-variant-1: #27272A;
    --heading-font: 'Jost', sans-serif;
    --primary-font: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--secondary-color);
    font-family: var(--primary-font);
    overflow-x: hidden;
    position: relative;
}

.main {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
ul {
    list-style: none;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}